<html
  lang="pt-br"
  layout:decorate="~{layout}"
  th:with="title='Corrida em andamento'"
>
  <section
    class="flex flex-col w-full justify-between rounded-[22px] border grow border-[#1f243014] bg-white p-6 sm:p-8 shadow-[0_14px_28px_rgba(31,36,48,0.1)]"
    layout:fragment="content"
  >
    <h1
      class="m-0 text-[1.7rem] sm:text-[1.9rem] font-extrabold leading-tight text-[#7d3f97]"
      th:text="${question.statement}"
    >
      Pergunta atual
    </h1>

    <div class="grid grid-cols-7 grow place-items-center">
      <div
        class="flex justify-center items-center rounded-full col-span-1 size-20 md:size-28 bg-[#7d3f97] text-3xl md:text-5xl text-white"
      >
        <span id="timer">0</span>
      </div>
      <img src="" alt="" class="col-span-5" />
    </div>

    <form
      th:action="@{/race/{id}/answer(id=${question.race.id})}"
      method="post"
      class="flex flex-col mt-6 space-y-3"
      id="form"
    >
      <input type="hidden" name="resultId" th:value="${resultId}" />
      <input type="hidden" name="questionId" th:value="${question.id}" />

      <div class="grid grid-cols-2 grid-rows-2 gap-3 w-full">
        <label
          th:each="answer, stat : ${question.answers}"
          class="flex items-center gap-1 rounded-xl border border-[#e6e8ee] bg-white px-4 py-3 text-lg font-medium transition hover:border-[#c9ced9] hover:bg-[#f9f8fd]"
        >
          <input
            type="submit"
            name="answerIndex"
            class="mt-1 h-10 w-0 accent-[#7d3f97] text-transparent"
            th:value="${stat.index}"
            required
            onchange="this.form.submit()"
          />
          <span th:text="${answer}">Resposta</span>
          <!-- <span th:text="${stat.index}">Resposta</span> -->
        </label>
      </div>
    </form>
  </section>
  <script layout:fragment="script" th:inline="javascript">
    let elapsedSeconds = /*[[${elapsedSeconds}]]*/ null;
    const raceDuration = /*[[${raceDuration}]]*/ null;

    const timer = document.querySelector("#timer");
    const form = document.querySelector("#form");
    timer.textContent = `${raceDuration - elapsedSeconds}`;

    setInterval(() => {
      elapsedSeconds++;

      if (elapsedSeconds >= raceDuration) {
        form.submit();
      }

      timer.textContent = `${raceDuration - elapsedSeconds}`;
    }, 1000);
  </script>
</html>
